{% extends "base.html" %}

{% block title %}Add User{% endblock %}

{% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id='toast-div' class="align-items-center bg-success text-light mt-2" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ message }}
                            </div>
                            <button type="button" class="btn-close me-2 m-auto btn-light" id="toast-button" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith%}
        <h1 class='mt-5'>Welcome {{ name }}</h1>
        <br>
        <h1 class="text-secondary mt-5">Add New User</h1><br/>
        <form method="POST" class="shadow-sm p-4 bg-light rounded">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}<br/>
            {{ form.name(class='form-control', placeholder="user name") }} </br>

            {{ form.email.label(class="form-label") }}<br/>
            {{ form.email(class='form-control', placeholder="email") }} </br>
            
            <br>
            {{ form.submit( class='btn btn-primary') }}
        </form>
    <br/><br/>
    <!-- users show by table -->
    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Join Date</th>
            <th scope="col">Modify</th>
          </tr>
        </thead>
        <tbody>
            {% if not our_users %}
                <tr><td>There is not users!</td></tr>
            {% else %}
                {% for user in our_users %}
                    <tr>
                        <th scope="row">{{ user._id }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.date_added}}</td>
                        <td><a href="{{ url_for('update', id= user._id )}}">Update</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
      </table>
{% endblock %}