{% extends "base.html" %}

{% block title %}Add User{% endblock %}

{% block content %}
    {% if name %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id='toast-div' class="align-items-center bg-success text-light mt-2" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ message }}
                            </div>
                            <button type="button" class="btn-close me-2 m-auto btn-light" id="toast-button" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith%}
        <h1 class='mt-5'>Welcome {{ name }}</h1>
        <br>
    {% else %}
        <h1 class="text-secondary mt-5">Add New User</h1><br/>
        <form method="POST">
            <!-- form.hidden_tag() is for csrf_token validation. -->
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}<br/>
            {{ form.name(class='form-control') }} </br>

            {{ form.email.label(class="form-label") }}<br/>
            {{ form.email(class='form-control') }} </br>
            
            <br>
            {{ form.submit( class='btn btn-primary') }}
        </form>
    {% endif %}
{% endblock %}