{% extends "base.html" %}

{% block title %}Name Form{% endblock %}

{% block content %}
    {% if email %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div id='toast-div' class="align-items-center bg-success text-light mt-2" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                {{ message }}
                            </div>
                            <button type="button" class="btn-close me-2 m-auto btn-light" id="toast-button" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith%}
        <br>
        <p>Email: {{ email }}</p>
        <p>Password: {{ password }}</p>
        <h1>I Found This Info:</h1>
        <p>Name: {{ password_to_check.name }}</p>
        <p>Email: {{ password_to_check.email }}</p>
        <p>Hashed_password: {{ password_to_check.password_hash }}</p>
        <h1>Password Match? ans: {{ passed }}</h1>
    {% else %}
        <h1 class="text-secondary mt-5">Test your login credentials</h1><br/>
        <form method="POST">
            <!-- form.hidden_tag() is for csrf_token validation. -->
            {{ form.hidden_tag() }}

            {{ form.email.label(class="form-label") }}<br/>
            {{ form.email(class='form-control', placeholder="Email") }} </br>
            
            {{ form.password.label(class="form-label") }}<br/>
            {{ form.password(class='form-control', placeholder="Password") }} </br>

            
            <br>
            {{ form.submit( class='btn btn-primary') }}
        </form>
    {% endif %}
{% endblock %}